.specific-route-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161625;
  min-height: 100vh;
  width: 100vw;
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
}
.state-specific-container {
  width: 80vw;
  background-color: transparent;
}
.state-name-tested-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 80vw;
}
.state-name-specific-route {
  background: rgba(2, 132, 199, 0.16);
  border-radius: 32px;
  text-align: center;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: #0ea5e9;
  padding: 10.5412px 21.0824px;
}
.testedCasesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tested-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #94a3b8;
  margin-bottom: 0px;
}
.tested-cases-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 12px;
  color: #94a3b8;
}

.card-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-style: none;
  outline: none;
}
.top-districts-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #ff073a;
  margin-top: 25px;
}
.districts-insights-list {
  display: flex;
  flex-direction: row;
  width: 1146px;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
}
.district-insights-list-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 250px;
}
.district-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #94a3b8;
  padding-right: 15px;
}
.district-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #94a3b8;
}
.state-insights-bar-chart-container {
  width: 1146px;
  background-color: transparent;
}
.line-charts-container {
  width: 1146px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spread-trends-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 1146px;
}
.spread-trends-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #cbd5e1;
}
.trends-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.cumulative-button {
  height: 60px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1c1c2b;
  border-style: none;
  outline: none;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #64748b;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .specific-route-bg-container {
    width: 100vw;
  }
  .loader-container {
    width: 100vw;
    height: 150px;
  }
  .state-specific-container {
    width: 80vw;
  }
  .state-name-tested-container {
    width: 80vw;
    padding-left: 5px;
    padding-right: 5px;
  }
  .state-name-specific-route {
    font-size: 16px;
    line-height: 24px;
    padding: 5px 10px;
  }
  .tested-text {
    font-size: 12px;
    line-height: 14px;
  }
  .tested-cases-count {
    font-size: 16px;
    line-height: 18px;
  }
  .top-districts-heading {
    font-size: 16px;
    line-height: 24px;
  }
  .districts-insights-list {
    width: 90vw;
    padding-left: 0;
  }
  .district-insights-list-item {
    width: 35vw;
    margin-right: 10px;
  }
  .district-count {
    font-size: 14px;
    line-height: 19px;
    padding-right: 5px;
  }
  .district-name {
    font-size: 10px;
    line-height: 14px;
  }
  .state-insights-bar-chart-container {
    width: 90vw;
  }
  .line-charts-container {
    width: 90vw;
  }
  .spread-trends-container {
    width: 90vw;
    align-self: center;
  }
  .spread-trends-heading {
    font-size: 20px;
    line-height: 25px;
  }
  .cumulative-button {
    height: 35px;
    width: 80px;
    font-size: 15px;
    line-height: 20px;
  }
}
