.confirmed-bg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #331427;
  width: 80vw;
  border-radius: 10px;
  margin-bottom: 25px;
}
.active-bg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #132240;
  width: 80vw;
  border-radius: 10px;
  margin-bottom: 25px;
}
.recovered-bg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #182829;
  width: 80vw;
  border-radius: 10px;
  margin-bottom: 25px;
}
.deceased-bg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1c1c2b;
  width: 80vw;
  border-radius: 10px;
  margin-bottom: 25px;
}
.tested-bg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #230f41;
  width: 80vw;
  border-radius: 10px;
  margin-bottom: 25px;
}
.vaccinated1-bg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #2e1e30;
  width: 80vw;
  border-radius: 10px;
  margin-bottom: 25px;
}
.test-positivity-ratio-bg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #332323;
  width: 80vw;
  border-radius: 10px;
  margin-bottom: 25px;
}
