.home-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161625;
  width: 100vw;
  min-height: 100vh;
}
.input-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2f2f43;
  height: 72px;
  width: 60vw;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 0;
}
.search-container {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 25px;
  padding-left: 5px;
  background-color: transparent;
}
.search-emoji {
  height: 24px;
  width: 24px;
  color: #94a3b8;
}
.search-states-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  outline: none;
  border-style: none;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #94a3b8;
  width: 50vw;
}
.state-wise-search-list {
  list-style-type: none;
  padding-left: 0;
  width: 60vw;
  background-color: transparent;
  margin-bottom: 0;
}
.state-insights-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  background-color: transparent;
  margin-top: 25px;
}
.hide-container {
  display: none;
}
.nation-wide-cases-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  background-color: transparent;
  margin-top: 0;
}
.total-cases-container {
  width: 150px;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.confirmed-card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ff073a;
}
.confirmed-cases-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ff073a;
}
.active-card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #007bff;
}
.active-cases-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #007bff;
}
.recovered-card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #28a745;
}
.recovered-cases-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #28a745;
}
.deceased-card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6c757d;
}
.deceased-cases-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #6c757d;
}
.state-wise-insights-container {
  list-style-type: none;
  width: 80vw;
  background-color: #1e1e30;
  border: 1px solid #475569;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 0;
  margin-top: 25px;
  align-items: flex-start;
}
.state-wise-insights-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 80vw;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid #475569;
}
.state-name-and-sort-list-container {
  display: flex;
  align-items: center;
  padding-left: 25px;
  width: 246px;
}
.state-name-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
}
.asc-sort-button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: 15px;
  border-style: none;
}
.sort-icon {
  height: 20px;
  width: 20px;
  color: #94a3b8;
}
.cases-insights-container {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: flex-end;
  padding-right: 15px;
}
.insight-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
}
.state-wise-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 80vw;
  border: 1px solid #475569;
}
.cases-insights-list-container {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: flex-end;
  padding-right: 15px;
}
.state-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #f1f5f9;
}
.confirmed-list-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ff073a;
}
.active-list-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #007bff;
}
.recovered-list-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #28a745;
}
.deceased-list-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #6c757d;
}
.population-list-count {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #94a3b8;
}

@media (max-width: 576px) {
  .home-bg-container {
    width: 100vw;
  }
  .input-search-container {
    width: 75vw;
    height: 48px;
  }
  .search-container {
    height: 35px;
    width: 20px;
    margin-left: 5px;
  }
  .search-emoji {
    height: 20px;
    width: 20px;
  }
  .search-states-container {
    height: 35px;
    width: 60vw;
  }
  .state-wise-search-list {
    width: 75vw;
  }
  .state-insights-container {
    width: 95vw;
    align-items: flex-start;
  }

  .nation-wide-cases-container {
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
    align-self: center;
  }
  .total-cases-container {
    width: 120px;
    height: 120px;
    margin-right: 0px;
    margin-top: 15px;
  }
  .confirmed-card-text {
    font-size: 12px;
    line-height: 16px;
  }
  .confirmed-cases-count {
    font-size: 16px;
    line-height: 24px;
  }
  .active-card-text {
    font-size: 12px;
    line-height: 16px;
  }
  .active-cases-count {
    font-size: 16px;
    line-height: 24px;
  }
  .recovered-card-text {
    font-size: 12px;
    line-height: 16px;
  }
  .recovered-cases-count {
    font-size: 16px;
    line-height: 24px;
  }
  .deceased-card-text {
    font-size: 12px;
    line-height: 16px;
  }
  .deceased-cases-count {
    font-size: 16px;
    line-height: 24px;
  }
  .state-wise-covid-data-table {
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 90vw;
  }
  .state-wise-insights-container {
    width: 1000px;
    align-self: flex-start;
  }
  .state-wise-list-item {
    width: 1000px;
  }
  .state-wise-insights-table-header {
    width: 1000px;
  }
}
